*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

html, body{
    overflow-x: hidden;
    position: relative;
    width: 100%;
    scroll-behavior: smooth;
}

hr{
    display: block;
    margin-left: 5%;
    margin-right: 5%;
    border: #fff 1.5px;
    border-style: inset;
}

/* header section */
header{
    position: fixed;
    display: flex;
    justify-content: space-between;
    width: 100%;
    background-color: #fff;
    padding: 2% 3%;
}

.nav{
    display: flex;
    color: rgb(39,153,52);
}

.nav h2{
    line-height: 50px;
}

#logo{
    width: 9%;
    border-radius: 100%;
    margin-right: 10px;
}

.links ul{
    display: flex;
    justify-content: space-between;
    list-style: none;
    padding-top: 14px;
}

.links {
    display: flex;
}

.links a{
    padding: 0 15px;
    border-radius: 0 0 10px 0;
    text-decoration: none;
    color: rgb(39,153,52);
    font-size: 16px;
    font-weight: 900;
    
}
#contactButton{
    background-color: rgb(39,153,52);
    color:#fff;
    padding: 8px 10px;
    border-radius: 0 0 10px 0;
    font-size: 14px;
}

/* beginnig of hero section */
#herosection{
    display: flex;
    margin: 10% 0% 7% 0% ;
    width: 100%;
    background-size: cover;
    padding: 5% 3%;
}

#heroImage{
    width: 90%;
    border-radius: 5%;
    margin-left: 8%;
}
.heroA h2{
    color: rgb(39,153,52);
    font-size: 40px;
    font-weight: 600;
    width: 80%;
    margin-bottom: 30px;
}

.heroA p{
    font-size: 20px;
    font-weight: 400;
    width: 53%;
    text-align: left;
}

/* products section */
#sectionTwo{
    padding: 5% 8%;
}

#sectionTwo h2{
    text-align: center;
    font-size: 40px;
    font-weight: 800;
    margin-bottom: 50px;
    color: rgb(39,153,52);
}

.products{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-row-gap: 4rem;
    grid-column-gap: 3rem;
    text-align: center;
}

 .products h5{
    margin-top: 3px;
    font-size: 16px;
    font-weight: 800;
}

.products p{
    margin-top: 8px;
    font-size: 16px;
} 

.products img{
    width: 70%;
    border-radius: 4px;
}

.productOne{
   box-shadow: 7px 7px 7px 7px rgb(230, 230, 230);
   padding: 16px 20px 40px 20px;
   background-color: #fff;
   border-radius: 20px;
}

#productImg{
    width: 95%;
    height: 80%;
}

/*  review Section*/
#reviews{
    padding: 2rem 3rem;
    margin: 2%  5% ;
    position: relative;
    z-index: -99;
    height: 90%;
}

#reviews h2{
    font-size: 35px;
    font-weight: 800;
    text-align: center;
    margin-bottom: 3rem;
    color: rgb(39,153,52);
}

span{
    border-bottom:solid 2px rgb(39,153,52);
}

.carousel-inner{
    max-width: 500px;
    margin-left: auto;
    margin-right: auto;
}

  /* footer section */
  #footer{
    padding: 3rem 3.5rem;
    display: flex;
    justify-content: space-between;
  }

  .footerA{
    display: flex;
    flex-direction: column;
    gap: 4.5rem;
  }

  .footerA h2{
    color: rgb(39,153,52);
    line-height: 40px;
    font-size: 30px;
    font-weight: 800;
  }

  .footerA p{
    font-size: 17px;
    width: 170%;
  }

  .footerB{
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
  }

  .footerB p{
    color: rgb(39,153,52);
    font-size: 30px;
    font-weight: 800;
    text-align: center;
  }

  .footerB img{
    width: 30px;
    background-color: white;
    border-radius: 100%;
  }

  .footerMedia{
    display: flex;
    gap: 11px;
  }

  #mail{
    text-decoration: none;
    color: #000;
    font-size: 17px;
    margin:0 auto;
  }
  /* media query section */
@media screen and (max-width:1200px) {
    .footerA p{
        width: 150%;
    }
    @media(max-width:992px){
        .nav{
            margin-right: -12%;
        }
        .productOne{
            padding: 16px 20px 80px 20px;
        }
        .footerA h2 {
            width: 270%;
        }
        #footer{
            gap: 24rem;
        }
        .footerA p {
            width: 320%;
            font-size: 22px;
        }
        #mail{
            font-size: 22px;  
        }
        .footerMedia{
            margin-left: 4rem;
        }
    }
    @media(max-width:768px){
        .nav{
            margin-right: -35%;
        }
        .links a{
            padding: 0 7px;
        }
        #contactButton{
            margin-left: 8px;
        }
        .heroA h2{
            font-size: 23px;
        }
        .heroA p{
            font-size: 17px;
            width: 75%;
        }
        .products {
            grid-template-columns: repeat(3, 1fr);
        }
        #footer{
            gap: 20rem;
        }
        .footerA p{
            font-size: 19px;
            width: 320%;
        }
        #mail{
            font-size: 19px;
        }
    }
    @media(max-width:576px){
        .nav h2{
            font-size: 1.2em;
        }
        .nav{
            width: 140%;
            margin-right: -350px;
        }
        #hide{
            display: none;
        }
        .links a{
            padding: 0 4px;
        }
        #contactButton{
            margin-left: 0;
        }
        #herosection{
            margin-top: 20%;
            padding: 0 6%;
        }
        .heroA{
            text-align: center;
            margin-bottom: 30px;
            width: 100%;
        }
        .heroA h2{
            width: 100%;
        }
        .heroA p{
            margin-left: 12px;
            width: 97%;
            text-align: center;
        }
        #heroImage{
            margin: 0 auto;
        }
        #herosection{
            flex-direction: column;
        }
        .products {
            grid-template-columns: repeat(2, 1fr);
        }
        #sectionTwo{
            padding: 5% 4%;
        }
        #reviews{
            padding: 1rem 0 2rem 0;
        }
        #reviews h2{
            margin-bottom: 2rem;
        }
        #footer{
            gap: 2rem;
            flex-direction: column-reverse;
        }
        .footerA h2{
            display: none;
        }
        .footerA p{
            margin: 0 0 0 3rem;
            width: 70%;
        }
        .footerA{
            gap: 2rem;
        }
        .footerMedia{
            margin: 0 0 0 9rem ;
            width: 50%;
        }
        #mail{
            margin: 0 0 0 6rem;
        }
    }
    @media(max-width:412px){
        .nav{
            width: 140%;
            margin-right: -280px;
        }
        #heroImage{
            margin: 0 0 0 1rem;
        }
        .products {
            grid-template-columns: repeat(2, 1fr);
        }
        #productImg{
            width: 90%;
            height: 70%;
        }
        .footerMedia{
            margin: 0 0 0 5rem;
        }
        #mail{
            margin: 0 0 0 2rem;
        }
        .footerA p{
            width: 60%;
            margin: 0 0 0 5rem;
        }
    }
    @media(max-width:375px){
        #logo{
            width: 10%;
            height: 3rem;
            margin-right: 7px;
        }
        .nav{
            margin-right: -260px;
        }
        .heroA p{
            margin-left: 0;
            text-align: left;
            width: 99%;
        }
        #sectionTwo h2{
            font-weight: 600;
        }
        .products {
            grid-template-columns: repeat(1, 1fr);
        }
        .footerMedia{
            margin: 0 0 0 3.5rem;
        }
        .footerA p{
            margin: 0 0 0 -2rem;
            width: 120%;
        }
        #mail{
            margin: 0 0 0 1rem;
        }
    }
    @media(max-width:360px){
        #heroImage{
            margin: 0 0.8rem;
        }
        .footerA p{
            margin: 0 auto;
            width: 70%;
        }
    }
    @media(max-width:300px){
        #contactButton{
            padding: 8px 14px;
        }
        .nav{
            margin-right: -220px;
        }
        #herosection{
            margin-top: 40%
        }
        .heroA p{
            margin-left: 8px;
            width: 102%;
        }
        #heroImage{
            margin-left: 10px;
        }
        input[type=submit] {
            margin-left: 16%;
          }
          #contactSection h2{
            font-size: 23px;
          }
          .footerMedia{
            margin: 0 0 0 1rem;
        }
        .footerA p{
            margin: 0 0 0 1rem;
            width: 90%;
        }
        #mail{
            margin: 0 0 0 -1rem;
        }
    }
    @media screen and (max-width:280px){
        #logo{
            width: 10%;
            height: 3rem;
            margin-right: 3px;
        }
        .nav{
            margin-right: -215px;
            padding: -8px -10px;
        }
        #sectionTwo h2{
            font-size: 30px;
        }
        .heroA p{
            width: 90%;
            text-align: center;
        }
        #mail{
            margin: 0 0 0 -2rem;
        }
        .footerA p{
            width: 100%;
        }
    }
}
